<div id="about" class="h-full flex flex-col items-center py-12 lg:px-56">
    <div class="container mx-auto py-12">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="col-span-1 lg:col-span-2 mb-4">
          <div class="bg-transparent flex flex-col justify-center items-center">
            <img [src]="cards[0].imagem" [alt]="cards[0].titulo" class="w-full object-cover" />
          </div>
        </div>
        <div class="col-span-1">
          <div class="bg-transparent rounded-lg flex flex-col items-center">
            <img [src]="cards[1].imagem" [alt]="cards[1].titulo" class="w-full object-cover" />
          </div>
        </div>
        <div class="col-span-1">
          <div class="bg-transparent rounded-lg flex flex-col items-center">
            <img [src]="cards[2].imagem" [alt]="cards[2].titulo" class="w-full object-cover" />
          </div>
        </div>
      </div>
    </div>
  </div>
  