<!-- src/app/nav/nav.component.html -->
<nav class="bg-transparent lg:bg-background p-8 fixed w-full z-20">
  <div class="bg-transparent container mx-auto flex flex-col md:flex-row items-center justify-between">
    <div class="bg-transparent flex items-center">
      <h1 class="bg-transparent text-4xl font-bold text-white">ArenaX</h1>
    </div>
    <div class="bg-transparent md:flex space-x-6 lg:space-x-12 mt-4 md:mt-0">
      <button class="text-white text-base md:text-2xl" (click)="scrollToSection('home')">Home</button>
      <button class="text-white text-base md:text-2xl" (click)="scrollToSection('games')">Games</button>
      <button class="text-white text-base md:text-2xl" (click)="scrollToSection('about')">About</button>
      <button class="text-white text-base md:text-2xl" (click)="scrollToSection('contact')">Contact</button>
    </div>
    <button class="bg-none hidden lg:block text-white text-base md:text-2xl font-bold py-2 px-4 border border-gradient-to-r from-red-500 to-blue-500">
      Sign up
    </button>  
  </div>
</nav>
