.carousel-container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 33.3333%;
  box-sizing: border-box;
  padding: 1rem;
}

.carousel-item img {
  border-radius: 5px;
}

.bg-blue-custom {
  background-color: #050912;
}

button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 14px;
  cursor: pointer;
  z-index: 10;
}

button:hover {
  background-color: rgba(129, 129, 129, 0.7);
}