<!-- src/app/games/games.component.html -->
<div id="games" class="h-screen flex flex-col items-center justify-center px-8 lg:px-56 pt-12 bg-cover bg-center"
    [ngStyle]="backgroundImageStyle">
    <div class="carousel-container relative w-full overflow-hidden">
        <button (click)="prev()"
            class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"></button>
        <div class="carousel flex transition-transform duration-500">
            <div *ngFor="let game of games" class="carousel-item w-1/3 flex-shrink-0 p-4">
                <div class="bg-black p-2 rounded-xl">
                    <img [src]="game.image" alt="{{ game.name }}" class="w-full h-64 object-cover rounded-lg">
                    <p class="bg-transparent text-center mt-2 text-white">{{ game.name }}</p>
                </div>
            </div>
        </div>
        <button (click)="next()" class="absolute right-0 top-1/2 transform -translate-y-1/2 p-2 rounded-full"></button>
    </div>
</div>